.border
{
  border-radius: 5px;
}
.a{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: #000 !important;
}
.a1{
  list-style: none;
  text-decoration: none !important;
  color: #000 !important;
}
ul {
  margin: 0 !important; padding: 0 !important;
}
.c
{
  border-radius: 5px;
 
}
.d
{
  list-style: none;

}

  .aaa:hover {
  background-color: rgb(120, 138, 179);
  font-size: 18px;
}
.e{
  height: 10px;
  width: 10px;
}


.w
{
  width: 50%;
}
.w2{
  width: 90%;
  border-radius: 8px;
}
.w3
{
  width: 30%;
}
.w4{
  width: 80%;
}
.f{
  color: #297d96;
}
.gg{
  border-radius: 8px;
  width: 30%;
  height: 8%;
}
.g{
  border-radius: 8px;
  width: 110px;
  height: 40px;
  line-height: 10px;
}

.hexagon-wrapper {
  background-color: #f3f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hexagon-wrapper__hexagon-container {
  width: 54vw;
  display: flex;
  flex-wrap: wrap;
  transform: skew(0deg, 0deg);
}


.hexagon__outer {
  margin-top: -1.73vw;
  transition: all 0.7s;
  -webkit-clip-path: polygon(
  0 25%,
  50% 0,
  100% 25%,
  100% 75%,
  50% 100%,
  0 75%
  );
  clip-path: polygon(
    0 25%,
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%
  );
  width: 6.5vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon__outer:hover {
  transform: scale(1.6) rotate(6deg);
}


.hexagon__outer:nth-child(-n + 9) {
  margin-top: 0;
}

.hexagon__outer:nth-child(17n + 10) {
  margin-left: 3vw;
}


.hexagon__inner {
  background-color: #297d96;
  color: #e6eeee;
  -webkit-clip-path: polygon(
  0 25%,
  50% 0,
  100% 25%,
  100% 75%,
  50% 100%,
  0 75%
  );
  clip-path: polygon(
    0 25%,
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%
  );
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1000px) {
  
  .hexagon-wrapper__hexagon-container {
    width: 50vw;
  }

  /* reset */
  .hexagon__outer:nth-child(-n + 9) {
    margin-top: -1.73vw;
  }

  /* reset */
  .hexagon__outer:nth-child(17n + 10) {
      margin-left: 0;
  }

  .hexagon__outer:nth-child(-n + 8) {
      margin-top: 0;
  }

  .hexagon__outer:nth-child(15n + 9) {
    margin-left: 3vw;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 55%;
    }
    
  .hexagon-wrapper__hexagon-container {
    width: 42vw;
  }

  /* reset */
  .hexagon__outer:nth-child(-n + 8) {
    margin-top: -1.73vw;
  }

  /* reset */
  .hexagon__outer:nth-child(15n + 9) {
      margin-left: 0;
  }

  .hexagon__outer:nth-child(-n + 7) {
      margin-top: 0;
  }

  .hexagon__outer:nth-child(13n + 8) {
    margin-left: 3vw;
  }
}

@media (max-width: 600px) {
  
  .hexagon-wrapper__hexagon-container {
    width: 36vw;
  }

  /* reset */
  .hexagon__outer:nth-child(-n + 7) {
    margin-top: -1.73vw;
    
  }

  /* reset */
  .hexagon__outer:nth-child(13n + 8) {
      margin-left: 0;
     
  }

  .hexagon__outer:nth-child(-n + 6) {
      margin-top: 0;
  }

  .hexagon__outer:nth-child(11n + 7) {
    margin-left: 3vw;
    
  }
}
.hexagon1{
  background-color: rgb(218, 218, 87);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #120202;
  background-color: #f6f2f2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block;
}